<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>order</title>
</head>
<body>
<div>
    <form method="POST" action="/hello_post">
    <!--column = ['sales_id', 'transaction_date', 'transaction_time', 'customer_id', 'product_id', 'quantity', 'unit_price', 'total_price', 'satisfication']-->
        <br><label>customer_id</label>
        <input name="customer_id">
        <br><label>product_category</label>
        <input name="product_category">
        <br><label>product_name</label>
        <input name="product_name">
        <br><label>quantity</label>
        <input name="quantity">
<!--        <br><label>unit_price</label>-->
<!--        <input name="unit_price">-->
<!--        <br><label>total_price</label>-->
<!--        <input name="total_price">-->
        <br><button type="submit">Submit</button>
    </form>

</div>
</body>
</html>